{% extends 'base.html' %}{% block base %}
<div class="bg-white">
    <div
        class="hidden lg:block fixed top-0 left-0 w-1/2 h-full bg-white"
        aria-hidden="true"
    ></div>
    <div
        class="hidden lg:block fixed top-0 right-0 w-1/2 h-full bg-indigo-900"
        aria-hidden="true"
    ></div>

    <div
        class="relative grid grid-cols-1 gap-x-16 max-w-7xl mx-auto lg:px-8 lg:grid-cols-2 lg:pt-16"
    >
        <h1 class="sr-only">Confirm Booking</h1>

        <section
            aria-labelledby="summary-heading"
            class="bg-indigo-900 text-indigo-300 py-12 md:px-10 lg:max-w-lg lg:w-full lg:mx-auto lg:px-0 lg:pt-0 lg:pb-24 lg:bg-transparent lg:row-start-1 lg:col-start-2"
        >
            <div class="max-w-2xl mx-auto px-4 lg:max-w-none lg:px-0">
                <h2 id="summary-heading" class="sr-only">Order summary</h2>

                <dl>
                    <dt class="text-sm font-medium">Amount due</dt>
                    <dd class="mt-1 text-3xl font-extrabold text-white">
                        ৳<span class="total_amount">{{ tour.price }}</span>
                    </dd>
                </dl>

                <ul
                    role="list"
                    class="text-sm font-medium divide-y divide-white divide-opacity-10"
                >
                    <li class="mt-4">
                        <img
                            src="/media/{{tour.featured_image}}"
                            alt="{{tour.name}}"
                            class="flex-none w-full aspect-wide rounded-lg object-center object-cover shadow-lg"
                        />
                    </li>
                    <li class="flex items-start py-6 space-x-4">
                        <img
                            src="/media/{{tour.destination.featured_image}}"
                            alt="Front of zip tote bag with white canvas, white handles, and black drawstring top."
                            class="flex-none w-20 h-20 rounded-md object-center object-cover"
                        />
                        <div class="flex-auto space-y-1">
                            <h3 class="text-white">{{tour.name}}</h3>
                            <p>{{tour.destination.name}}</p>
                        </div>
                        <p class="flex-none text-base font-medium text-white">
                            ৳{{ tour.price }}
                        </p>
                    </li>
                </ul>

                <dl
                    class="text-sm font-medium space-y-6 border-t border-white border-opacity-10 pt-6"
                >
                    <div class="flex items-center justify-between">
                        <dt>Price Per Person</dt>
                        <dd>
                            ৳<span id="price_per_person">{{ tour.price }}</span>
                        </dd>
                    </div>

                    <div class="flex items-center justify-between">
                        <dt>Person</dt>
                        <dd id="num_of_persons">1</dd>
                    </div>

                    <div
                        class="flex items-center justify-between border-t border-white border-opacity-10 text-white pt-6"
                    >
                        <dt class="text-base">Total</dt>
                        <dd class="text-base total_amount">{{tour.price}}</dd>
                    </div>
                </dl>
            </div>
        </section>
        
        <section
        aria-labelledby="payment-and-shipping-heading"
        class="py-16 lg:max-w-lg lg:w-full lg:mx-auto lg:pt-0 lg:pb-24 lg:row-start-1 lg:col-start-1"
        >
        {% if tour.available_seats < 1 %}
        <h1 class="font-bold text-2xl">Sorry, No Seats Available</h1>
        {% else %}
        <form method="POST">
            {% csrf_token %}
            <h2 id="payment-and-shipping-heading" class="sr-only">
                Payment and shipping details
            </h2>

            <form>
                <div class="max-w-2xl mx-auto px-4 lg:max-w-none lg:px-0">
                    <div>
                        <h3
                            id="contact-info-heading"
                            class="text-lg font-medium text-gray-900"
                        >
                            Contact information
                        </h3>

                        <div class="mt-6">
                            <label
                                for="email-address"
                                class="block text-sm font-medium text-gray-700"
                                >Name</label
                            >
                            <div class="mt-1">
                                <input
                                    type="text"
                                    id="name"
                                    name="name"
                                    autocomplete="first_name"
                                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                    value="{% if user.first_name %}{{user.profile.full_name}}{% else %}{{user.username}}{% endif %}"
                                />
                            </div>
                        </div>

                        <div class="mt-4">
                            <label
                                for="email"
                                class="block text-sm font-medium text-gray-700"
                                >Email address</label
                            >
                            <div class="mt-1">
                                <input
                                    type="email"
                                    id="email"
                                    name="email"
                                    autocomplete="email"
                                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                    value="{{ user.email }}"
                                    disabled
                                />
                            </div>
                        </div>
                        <div class="mt-4 grid gap-2 md:grid-cols-2">
                            <div>
                                <label
                                    for="email-address"
                                    class="block text-sm font-medium text-gray-700"
                                    >Primary Phone Number</label
                                >
                                <div class="mt-1">
                                    <input
                                        type="number"
                                        id="phone1"
                                        name="phone1"
                                        pattern="[0-9]{11}"
                                        placeholder="01700000000"
                                        title="11 digit phone number"
                                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                        value="{{ user.profile.phone }}"
                                        required
                                    />
                                </div>
                            </div>
                            <div>
                                <label
                                    for="email-address"
                                    class="block text-sm font-medium text-gray-700"
                                    >Secondary Phone</label
                                >
                                <div class="mt-1">
                                    <input
                                        type="text"
                                        id="phone2"
                                        name="phone2"
                                        pattern="[0-9]{11}"
                                        placeholder="01700000000"
                                        title="11 digit phone number"
                                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-10">
                        <h3 class="text-lg font-medium text-gray-900">
                            Payment details
                        </h3>

                        <div class="mt-6 grid grid-cols-2 gap-y-6 gap-x-4">
                            <div class="">
                                <label
                                    for="id_total_person"
                                    class="block text-sm font-medium text-gray-700"
                                    >No. of Seats</label
                                >
                                <div
                                    class="mt-1 flex items-center justify-between w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                >
                                    <button
                                        type="button"
                                        onclick="minus()"
                                        class="w-10 h-8 text-gray-600 transition hover:opacity-75 my-auto"
                                    >
                                        &minus;
                                    </button>

                                    <input
                                        type="number"
                                        name="total_person"
                                        id="id_total_person"
                                        value="1"
                                        class="h-8 w-16 border-transparent text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none"
                                        required
                                        min="1"
                                        max="{{tour.available_seats}}"
                                    />

                                    <button
                                        type="button"
                                        onclick="plus()"
                                        class="w-10 h-8 text-gray-600 transition hover:opacity-75"
                                    >
                                        &plus;
                                    </button>
                                </div>
                            </div>
                            <div class="">
                                <label
                                    class="block text-sm font-medium text-gray-700"
                                    >Available Seats</label
                                >
                                <div class="mt-1">
                                    <input
                                        type="number"
                                        value="{{tour.available_seats}}"
                                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                        disabled
                                    />
                                </div>
                            </div>
                            <div class="">
                                <label
                                    for="total_amt"
                                    class="block text-sm font-medium text-gray-700"
                                    >Total Amount</label
                                >
                                <div class="mt-1">
                                    <input
                                        type="number"
                                        id="total_amt"
                                        name="total_price"
                                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                        value="{{tour.price}}"
                                        disabled
                                    />
                                </div>
                            </div>
                            <div class="">
                                <label
                                    for="id_total_person"
                                    class="block text-sm font-medium text-gray-700"
                                    >Minimum Amount to Pay Now</label
                                >
                                <div class="mt-1">
                                    <input
                                        type="number"
                                        name="cvc"
                                        id="min_amt"
                                        value="{{tour.minimum_advance}}"
                                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                        disabled
                                    />
                                </div>
                            </div>

                            <div class="">
                                <label
                                    for="payment_method"
                                    class="block text-sm font-medium text-gray-700"
                                    >Payment Method</label
                                >
                                <div class="mt-1">
                                    <select
                                        type="text"
                                        name="payment_method"
                                        id="payment_method"
                                        autocomplete="cc-exp"
                                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                    >
                                        <option value="bkash">Bkash</option>
                                        <option value="rocket">Rocket</option>
                                        <option value="nagad">Nagad</option>
                                    </select>
                                </div>
                            </div>
                            <div class="">
                                <label
                                    for="paid_amt"
                                    class="block text-sm font-medium text-gray-700"
                                    >Paid Amount</label
                                >
                                <div class="mt-1">
                                    <input
                                        type="number"
                                        name="amount"
                                        id="amount"
                                        placeholder="Amount You Paid"
                                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="">
                                <label
                                    for="payment_number"
                                    class="block text-sm font-medium text-gray-700"
                                    >Paid From Account No.</label
                                >
                                <div class="mt-1">
                                    <input
                                        type="text"
                                        name="payment_number"
                                        id="payment_number"
                                        pattern="[0-9]{11}"
                                        placeholder="01700000000"
                                        title="11 digit phone number"
                                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="">
                                <label
                                    for="transaction_id"
                                    class="block text-sm font-medium text-gray-700"
                                    >Transaction ID</label
                                >
                                <div class="mt-1">
                                    <input
                                        type="text"
                                        name="transaction_id"
                                        id="transaction_id"
                                        pattern="[a-zA-Z0-9]{6,}"
                                        placeholder="ABC123"
                                        title="Enter a valid transaction ID"
                                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm uppercase"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if errors %}
                    <div class="mt-6 text-sm">
                        <p class="mb-2">This Fields are required</p>
                        {% for error in booking_form_errors %}
                        <p class="text-red-500">{{error}}</p>
                        {% endfor %}
                        {% for error in payment_form_errors %}
                        <p class="text-red-500">{{error}}</p>
                        {% endfor %}
                     </div>
                     {% endif %}

                    <div
                        class="mt-10 flex justify-between pt-6 border-t border-gray-200"
                    >
                        <a
                            href="{% url 'tour_detail' tour.id %}"
                            class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500"
                        >
                            Go Back
                        </a>
                        <button
                            type="submit"
                            class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500"
                        >
                            Pay now
                        </button>
                    </div>
                </div>
                
            </form>
            {% endif %}
        </section>
    </div>
</div>

<script>
    function minus() {
        var personNumber = document.getElementById("id_total_person").value;
        if (personNumber > 1) {
            personNumber--;
            document.getElementById("id_total_person").value = personNumber;
            changePersonNumber();
        }
    }

    function plus() {
        var personNumber = document.getElementById("id_total_person").value;
        //convert string to int
        availableSeats = parseInt("{{tour.available_seats}}");
        if (personNumber < availableSeats){
            personNumber++;
            document.getElementById("id_total_person").value = personNumber;
            changePersonNumber();
        }
    }

    function changePersonNumber() {
        var personNumber = document.getElementById("id_total_person").value;
        var price = document.getElementById("price_per_person").innerText;
        document.getElementById("num_of_persons").innerText = personNumber;
        var totalPrice = personNumber * price;
        var totalPriceClass = document.getElementsByClassName("total_amount");
        for (var i = 0; i < totalPriceClass.length; i++) {
            totalPriceClass[i].innerHTML = totalPrice;
        }
        document.getElementById("total_amt").value = totalPrice;
        document.getElementById("min_amt").value = totalPrice * 0.2;
    }
</script>

{% endblock %}
