{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Travel Bee</title>
        <script src="https://cdn.tailwindcss.com?plugins=aspect-ratio,forms,typography,line-clamp"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Hind+Siliguri&family=Poppins&family=Tilt+Warp&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css"
            integrity="sha512-Z0kTB03S7BU+JFU0nw9mjSBcRnZm2Bvm0tzOX9/OuOuz01XQfOpa0w/N9u6Jf2f1OAdegdIPWZ9nIZZ+keEvBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            rel="icon"
            type="image/png"
            href="{% static 'logo/favicon.ico' %}"
        />

        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        aspectRatio: {
                            video: "16/9",
                            square: "1/1",
                            "2/1": "2 / 1",
                            "4/3": "4 / 3",
                            "3/1": "3/1",
                            wide: "16/5",
                        },
                        fontFamily: {
                            hind: ["Hind Siliguri", "sans-serif"],
                            poppins: ["Poppins", "sans-serif"],
                            tilt: ["Tilt Warp", "cursive"],
                        },
                        colors: ({ colors }) => ({
                            primary: "#F47859",
                            secondary: "#061A3A",
                            inherit: colors.inherit,
                            current: colors.current,
                            transparent: colors.transparent,
                            black: colors.black,
                            white: colors.white,
                            slate: colors.slate,
                            gray: colors.gray,
                            zinc: colors.zinc,
                            neutral: colors.neutral,
                            stone: colors.stone,
                            red: colors.red,
                            orange: colors.orange,
                            amber: colors.amber,
                            yellow: colors.yellow,
                            lime: colors.lime,
                            green: colors.green,
                            emerald: colors.emerald,
                            teal: colors.teal,
                            cyan: colors.cyan,
                            sky: colors.sky,
                            blue: colors.blue,
                            indigo: colors.indigo,
                            violet: colors.violet,
                            purple: colors.purple,
                            fuchsia: colors.fuchsia,
                            pink: colors.pink,
                            rose: colors.rose,
                        }),
                    },
                },
            };
        </script>
    </head>
    <body class="font-poppins min-h-screen">
        {% block base %} {% endblock %} {% include 'auth/logout.html' %}
        <script src="https://cdn.tailwindcss.com?plugins=aspect-ratio,forms,typography,line-clamp"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    </body>
</html>
