{% extends 'landing/base.html' %}{% load static %} {% block content %}
<div class="h-24 w-full bg-secondary"></div>
<section class="bg-gray-50 dark:bg-gray-900">
    <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-12"
    >
        <a
            href="{% url 'index' %}"
            class="flex items-center mb-6 text-2xl font-semibold text-gray-900"
        >
            <img
                class="h-7 mr-2"
                src="{% static 'logo/logo.svg' %}"
                alt="logo"
            />
        </a>
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 md:max-w-2xl xl:p-0 dark:bg-gray-800 dark:border-gray-700"
        >
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1
                    class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl text-center"
                >
                    Create and account
                </h1>
                <form class="grid md:grid-cols-2 gap-2 md:gap-4" method="POST">
                    {% csrf_token %}

                    <div>
                        <label
                            for="email"
                            class="block mb-2 text-sm font-medium text-gray-900"
                            >Your email</label
                        >

                        {{user_form.email}}
                    </div>
                    <div>
                        <label
                            for="username"
                            class="block mb-2 text-sm font-medium text-gray-900"
                            >Your Username</label
                        >

                        {{user_form.username}}
                    </div>
                    <div>
                        <label
                            for="first_name"
                            class="block mb-2 text-sm font-medium text-gray-900"
                            >First name</label
                        >

                        {{user_form.first_name}}
                    </div>
                    <div>
                        <label
                            for="last_name"
                            class="block mb-2 text-sm font-medium text-gray-900"
                            >Last name</label
                        >

                        {{user_form.last_name}}
                    </div>

                    <div>
                        <label
                            for="password"
                            class="block mb-2 text-sm font-medium text-gray-900"
                            >Password</label
                        >

                        <input
                            type="password"
                            name="password"
                            id="password"
                            placeholder="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            title="Password must contain at least 6 characters."
                            pattern=".{6,}"
                            required="true"
                        />
                    </div>
                    <div>
                        <label
                            for="confirm-password"
                            class="block mb-2 text-sm font-medium text-gray-900"
                            >Confirm password</label
                        >
                        <input
                            type="password"
                            name="confirm-password"
                            id="confirm-password"
                            placeholder="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required=""
                        />
                    </div>
                    {% for field in profile_form %}
                    <div class="text-sm flex flex-col gap-2">
                        <!--prettier-ignore-->
                        {{ field.label_tag }} {{ field }} {% if field.help_text %}
                        <p class="text-xs text-gray-500">
                            {{ field.help_text }}
                        </p>
                        {% endif %}
                    </div>
                    {% endfor %} {% for error in profile_form.errors %}
                    <div class="text-red-500">{{ error }}</div>
                    {% endfor %}
                    {% for message in messages %}
                    <div class="text-red-500 text-xs font-bold">
                        {{ message }}
                    </div>
                    {% endfor %}

                    <div class="flex items-start col-span-2">
                        <div class="flex items-center h-5">
                            <input
                                id="terms"
                                aria-describedby="terms"
                                type="checkbox"
                                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                                required=""
                            />
                        </div>
                        <div class="ml-3 text-sm">
                            <label
                                for="terms"
                                class="font-light text-gray-500 dark:text-gray-300"
                                >I accept the
                                <a
                                    class="font-medium text-primary hover:underline"
                                    href="#"
                                    >Terms and Conditions</a
                                ></label
                            >
                        </div>
                    </div>
                    <div class="col-span-2">
                        {% for error in user_form.errors %}
                        <div class="text-red-500">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <button
                        type="submit"
                        class="w-full text-white bg-orange-600 hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center col-span-2"
                    >
                        Create an account
                    </button>
                    <p class="text-sm font-light text-gray-500 col-span-2">
                        Already have an account?
                        <a
                            href="{% url 'login' %}"
                            class="font-medium text-primary hover:underline"
                            >Login here</a
                        >
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
