{% load static %}
<header id="header" class="fixed w-full z-50">
    <nav
        class="sticky top-0 z-50 border-gray-200 dark:bg-gray-900 dark:border-gray-700"
    >
        <div
            class="max-w-7xl flex flex-wrap items-center justify-between mx-auto p-6"
        >
            <a href="{% url 'index' %}" class="flex items-center">
                <img
                    src="{% static 'logo/logo_white.svg' %}"
                    class="h-8 mr-3"
                    alt="Flowbite Logo"
                />
                <span
                    class="sr-only self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
                    >Travel Bee</span
                >
            </a>
            <button
                data-collapse-toggle="navbar-dropdown"
                type="button"
                class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-dropdown"
                aria-expanded="false"
            >
                <span class="sr-only">Open main menu</span>
                <svg
                    class="w-6 h-6"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"
                    ></path>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
                <ul
                    class="flex flex-col font-bold p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
                >
                    <li>
                        <a
                            href="{% url 'index' %}"
                            class="font-bold block py-2 pl-3 pr-4 text-white bg-orange-600 rounded md:bg-transparent md:p-0 md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent"
                            aria-current="page"
                            >Home</a
                        >
                    </li>
                    <li>
                        <button
                            id="dropdownNavbarLink"
                            data-dropdown-toggle="dropdownNavbar"
                            data-dropdown-trigger="hover"
                            class="font-bold flex items-center justify-between w-full py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-600 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
                        >
                            Destinations
                            <svg
                                class="w-5 h-5 ml-1"
                                aria-hidden="true"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div
                            id="dropdownNavbar"
                            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
                        >
                            <ul
                                class="py-2 text-sm text-gray-700 dark:text-gray-400"
                                aria-labelledby="dropdownLargeButton"
                            >
                                <li>
                                    <a
                                        href="{% url 'destination' %}"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                        >View All</a
                                    >
                                </li>
                                {% for destination in destinations %}
                                <li>
                                    <a
                                        href="{% url 'destination_detail' destination.id %}"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                        >{{ destination.name }}</a
                                    >
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button
                            id="upcomingtoursbutton"
                            data-dropdown-toggle="upcomingtours"
                            data-dropdown-trigger="hover"
                            class="font-bold flex items-center justify-between w-full py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-600 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
                        >
                            Upcoming Tours
                            <svg
                                class="w-5 h-5 ml-1"
                                aria-hidden="true"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div
                            id="upcomingtours"
                            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-64 dark:bg-gray-700 dark:divide-gray-600"
                        >
                            <ul
                                class="py-2 text-sm text-gray-700 dark:text-gray-400"
                                aria-labelledby="dropdownLargeButton"
                            >
                                <li>
                                    <a
                                        href="{% url 'tour' %}"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                        >View All Tours</a
                                    >
                                </li>
                                {% for tour in upcoming_tours %}
                                <li>
                                    <a
                                        href="{% url 'tour_detail' tour.id %}"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                        >{{ tour.name }}</a
                                    >
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a
                            href="{% url 'guide' %}"
                            class="font-bold block py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                            >Guides</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="font-bold block py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                            >Contact</a
                        >
                    </li>
                </ul>
            </div>
            {% if user.is_authenticated %}
            <button
                id="dropdownInformationButton"
                data-dropdown-toggle="dropdownInformation"
                class="hidden sm:flex text-white font-bold bg-orange-600 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-orange-600 dark:focus:ring-orange-700"
                type="button"
            >
                {% if user.first_name %}{{user.first_name}} {{user.last_name}}
                <!--prettier-ignore-->
                {% else %}{{user.username}}{% endif %}
                <svg
                    class="w-4 h-4 ml-2"
                    aria-hidden="true"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"
                    ></path>
                </svg>
            </button>

            {% else %}
            <a
                href="{% url 'login' %}"
                class="text-white font-bold bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 font-bold rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-orange-600 dark:focus:ring-orange-700"
            >
                Login
            </a>
            {% endif %}

            <!-- Dropdown menu -->
            <div
                id="dropdownInformation"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
            >
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                    <div>
                        {% if user.first_name %}{{user.first_name}}
                        {{user.last_name}}{% else %}{{user.username}}{% endif %}
                    </div>
                    <div class="font-bold truncate">{{user.email}}</div>
                </div>
                <ul
                    class="py-2 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownInformationButton"
                >
                    <li>
                        <a
                            href="{% url 'profile' %}"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >View Profile</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Settings</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Earnings</a
                        >
                    </li>
                </ul>
                <div class="py-2">
                    <button
                        data-modal-toggle="logoutModal"
                        class="w-full h-full text-left block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                    >
                        Sign out
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>
<script>
    var className = "bg-secondary";
    var scrollTrigger = 60;

    window.onscroll = function () {
        // We add pageYOffset for compatibility with IE.
        if (
            window.scrollY >= scrollTrigger ||
            window.pageYOffset >= scrollTrigger
        ) {
            document.getElementById("header").classList.add(className);
        } else {
            document.getElementById("header").classList.remove(className);
        }
    };
</script>
