{% extends './base.html' %} {% load static %} {% block content %}
<div id="content" class="">
    <!--Top hero section with search form -->
    <div
        id="hero1"
        class="bg-gray-700 px-4 text-white flex flex-col gap-4 bg-blend-overlay py-80 lg:px-64 bg-bottom bg-no-repeat bg-cover bg-[url('{% static 'landing/hero1.jpg' %}')]"
    >
        <h1 class="text-7xl font-tilt">Explore<br />Your Travel</h1>
        <p class="text-md font-bold">
            Discover your next great adventure, become an explorer to get
            started!
        </p>
        <div class="bg-white/50 backdrop-blur-sm p-4 rounded-lg">
            <form
                action="{% url 'tour' %}"
                method="GET"
                class="flex grid grid-cols-3 gap-4"
            >
                <div class="w-full">
                    <select
                        id="destination"
                        name="destination"
                        class="font-bold py-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                        <option value="0" selected>Select Destination</option>
                        {% for place in destinations %}
                        <option value="{{ place.id }}">{{ place.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="w-full">
                    <select
                        id="tourtype"
                        name="tourtype"
                        class="font-bold py-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                        <option value="0" selected>Select Type of Tour</option>
                        {% for tourtype in tourtypes %}
                        <option value="{{ tourtype.id }}">
                            {{ tourtype.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button
                        type="submit"
                        class="w-full h-full text-white font-bold bg-orange-700 hover:bg-secondary focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                    >
                        <i class="fa-solid fa-magnifying-glass mr-2"></i>Search
                        Tours
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!--Second Hero Section for features-->
    <div class="bg-neutral-200 py-32">
        <h1 class="font-tilt text-5xl text-center">
            Why Travel With TravelBee?
        </h1>
        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 max-w-7xl mx-4 lg:mx-auto mt-16"
        >
            <div
                class="bg-white border rounded-xl shadow-md overflow-hidden group"
            >
                <div class="w-full overflow-hidden aspect-video">
                    <img
                        class="object-cover aspect-video scale-110 group-hover:scale-100 transition-all duration-300"
                        src="{% static 'landing/feature1.jpg' %}"
                        alt=""
                    />
                </div>
                <div class="-mt-12 px-4 pb-6 flex flex-col items-center">
                    <div
                        class="bg-white rounded-full text-primary text-2xl w-20 h-20 shadow-xl flex flex-col items-center justify-center z-10"
                    >
                        <!-- <i class="text-3xl fa-solid fa-user"></i> -->
                        <img
                            class="w-10 h-10"
                            src="{% static 'landing/icon1.png' %}"
                            alt=""
                        />
                    </div>
                    <h1 class="mt-6 font-bold text-xl text-center">
                        Best Local Guides
                    </h1>
                </div>
            </div>
            <div
                class="bg-white border rounded-xl shadow-md overflow-hidden group"
            >
                <div class="w-full overflow-hidden aspect-video">
                    <img
                        class="object-cover aspect-video scale-110 group-hover:scale-100 transition-all duration-300"
                        src="{% static 'landing/feature2.jpg' %}"
                        alt=""
                    />
                </div>
                <div class="-mt-12 px-4 pb-6 flex flex-col items-center z-10">
                    <div
                        class="bg-white rounded-full text-primary text-2xl w-20 h-20 shadow-xl flex flex-col items-center justify-center z-10"
                    >
                        <!-- <i class="text-3xl fa-solid fa-hands-clapping"></i> -->
                        <img
                            class="w-10 h-10"
                            src="{% static 'landing/icon2.png' %}"
                            alt=""
                        />
                    </div>
                    <h1 class="mt-6 font-bold text-xl text-center">
                        100% Trusted Tour Agency
                    </h1>
                </div>
            </div>
            <div
                class="bg-white border rounded-xl shadow-md overflow-hidden group"
            >
                <div class="w-full overflow-hidden aspect-video">
                    <img
                        class="object-cover aspect-video scale-110 group-hover:scale-100 transition-all duration-300"
                        src="{% static 'landing/feature3.jpg' %}"
                        alt=""
                    />
                </div>
                <div class="-mt-12 px-4 pb-6 flex flex-col items-center z-10">
                    <div
                        class="bg-white rounded-full text-primary text-2xl w-20 h-20 shadow-xl flex flex-col items-center justify-center z-10"
                    >
                        <img
                            class="w-10 h-10"
                            src="{% static 'landing/icon3.svg' %}"
                            alt=""
                        />
                    </div>
                    <h1 class="mt-6 font-bold text-xl text-center">
                        12+ Years of Travel Experience
                    </h1>
                </div>
            </div>
            <div
                class="bg-white border rounded-xl shadow-md overflow-hidden group"
            >
                <div class="w-full overflow-hidden aspect-video">
                    <img
                        class="object-cover aspect-video scale-110 group-hover:scale-100 transition-all duration-300"
                        src="{% static 'landing/feature4.jpg' %}"
                        alt=""
                    />
                </div>
                <div class="-mt-12 px-4 pb-6 flex flex-col items-center z-10">
                    <div
                        class="bg-white rounded-full text-primary text-2xl w-20 h-20 shadow-xl flex flex-col items-center justify-center z-10"
                    >
                        <img
                            class="w-10 h-10"
                            src="{% static 'landing/icon4.svg' %}"
                            alt=""
                        />
                    </div>
                    <h1 class="mt-6 font-bold text-xl text-center">
                        98% of Our Travelers are Happy
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <!--Third Hero Section for about-->
    <div
        class="py-8 bg-gray-300 grid grid-cols-1 lg:grid-cols-2 bg-right bg-cover bg-blend-overlay bg-[url('{% static 'landing/aboutbg.jpeg' %}')]"
    >
        <div class="grid grid-cols-2 p-24 gap-4">
            <div class="col-span-2 border-white border-8 rounded-lg shadow-xl">
                <img
                    class="object-cover aspect-2/1 rounded-lg"
                    src="{% static 'landing/about1.jpg' %}"
                    alt=""
                />
            </div>
            <div class="border-white border-8 rounded-lg shadow-xl">
                <img
                    class="object-cover object-center aspect-square rounded-lg"
                    src="{% static 'landing/about2.jpg' %}"
                    alt=""
                />
            </div>
            <div class="border-white border-8 rounded-lg shadow-xl">
                <img
                    class="object-cover aspect-square rounded-lg"
                    src="{% static 'landing/about3.jpg' %}"
                    alt=""
                />
            </div>
        </div>
        <div class="w-4/5 flex flex-col items-left justify-center mx-4">
            <h2 class="text-gray-700 font-bold">ABOUT TRAVEL BEE</h2>
            <h2 class="text-6xl font-tilt">
                Country's Best Travel Agency Company Since 2008.
            </h2>
            <a href="{% url 'search' %}">
                <button
                    class="mt-8 text-md font-bold bg-primary hover:bg-secondary px-6 py-4 rounded-lg shadow-lg hover:text-white transition-all duration-300"
                >
                    Search Tours
                </button>
            </a>
        </div>
    </div>
    <!-- Upcoming Tours -->
    <div
        class="py-16 bg-cover bg-center bg-gray-700 bg-blend-overlay bg-[url('{% static 'landing/bgtours.jpg' %}')]"
    >
        <h1 class="font-tilt text-5xl text-center text-white">
            Upcoming Tours
        </h1>
        <div
            class="mt-8 max-w-7xl mx-4 lg:mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4"
        >
            {% for tour in upcoming_tours %}
            <div
                class="h-full overflow-hidden rounded-lg shadow transition hover:shadow-lg group"
            >
                <div class="overflow-hidden">
                    <img
                        alt="{{tour.destination.name}}"
                        src="/media/{{tour.destination.featured_image}}"
                        class="h-56 w-full object-cover object-center transition duration-500 ease-in-out transform group-hover:scale-110"
                    />
                </div>

                <div class="bg-white p-4 sm:p-6">
                    <time class="block text-sm font-bold text-gray-500">
                        {{tour.start_date}}
                    </time>

                    <a
                        target="_blank"
                        href="{% url 'destination_detail' tour.destination.id %}"
                    >
                        <h3 class="mt-0.5 text-xl text-gray-900 font-bold">
                            {{tour.destination.name}}
                        </h3>
                    </a>
                    <h4 class="mt-1 text-lg">
                        <span class="text-primary font-bold text-xl"
                            >৳{{tour.price}}</span
                        >
                        / Per Person
                    </h4>
                    <div class="bg-gray-100 rounded-md border p-2 text-sm">
                        <p class="font-bold">
                            {{tour.days}} Days | {{tour.tour_type}}
                        </p>
                    </div>
                    <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
                        {{tour.description}}
                    </p>
                    <a href="{% url 'tour_detail' tour.id %}">
                        <button
                            class="w-full mt-2 text-sm font-bold bg-primary hover:bg-secondary px-6 py-2 rounded-lg shadow-lg text-white hover:text-white transition-all duration-300"
                        >
                            View Details
                        </button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Popular Destinations -->
    <div class="py-16 bg-neutral-200">
        <div
            class="max-w-7xl mx-4 lg:mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
        >
            <div>
                <h1 class="text-gray-700">CHOOSE YOUR PLACE</h1>
                <h1 class="text-secondary text-5xl font-tilt">
                    Popular Destinations
                </h1>
            </div>
            {% for destination in popular_destinations %}
            <div
                class="relative bg-white rounded-xl border-[15px] border-white group overflow-hidden"
            >
                <img
                    class="rounded-lg aspect-square object-cover transition-all group-hover:scale-110 ease-in-out duration-300"
                    src="/media/{{destination.featured_image}}"
                    alt=""
                />
                <h1></h1>
                <a
                    href="{% url 'destination_detail' destination.id %}"
                    class="absolute top-0 h-full w-full bg-gradient-to-t from-gray-900 to-30% to-transparent"
                >
                    <span
                        class="absolute bottom-0 text-white font-bold text-3xl m-4"
                        >{{destination.name}}</span
                    >
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Testimonials -->
    <div class="py-16">
        <h1 class="font-tilt text-5xl text-center text-secondary">
            Latest Reviews
        </h1>
        <div
            class="my-8 max-w-7xl mx-4 lg:mx-auto grid grid-cols-1 lg:grid-cols-3 gap-20 lg:gap-6"
        >
            <div class="bg-white border shadow-lg rounded-lg px-8">
                <div
                    class="flex justify-center items-center gap-2 text-amber-500 py-8"
                >
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="relative text-justify text-gray-500 font-bold">
                    <p class="z-20 line-clamp-5 leading-loose">
                        Lorem ipsum dolor amet consectet adipiscing sed do
                        eiusmod tempor incididunt labore et dolore magna aliqua
                        ipsum suspen disse ultrices gravida Risus
                    </p>
                    <div
                        class="absolute top-0 left-0 h-full w-full flex flex-col justify-center items-center"
                    >
                        <i
                            class="text-7xl leading-none text-secondary z-10 opacity-20 fa-solid fa-quote-right"
                        ></i>
                    </div>
                </div>
                <div class="mt-6">
                    <h1
                        class="mt- text-secondary font-tilt text-xl text-center"
                    >
                        Random Tourist
                    </h1>
                </div>
                <div
                    class="pt-16 md:pt-16 lg:pt-16 relative flex items-center justify-center"
                >
                    <div
                        class="absolute top-0 w-[30%] md:w-[12%] lg:w-[30%] border-6 border-white shadow-lg flex flex-col justify-center items-center rounded-full aspect-square"
                    >
                        <img
                            class="aspect-square object-cover"
                            src="https://travio.smartdemowp.com/wp-content/uploads/2021/02/testimonial-2.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
